@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3B82F6;
  /* Blue-500 */
  --color-primary-dark: #2563EB;
  /* Blue-600 */
  --color-secondary: #000000;
  /* Black */
  --color-accent: #10B981;
  /* Green-500 */
  --color-background-light: #F8FAFC;
  /* White/Off-white */
  --color-background-dark: #000000;
  /* Black */
  --color-surface-light: #FFFFFF;
  /* White */
  --color-surface-dark: #121212;
  /* Dark Gray */
  --font-display: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}

:root {
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1f2937;
  /* Gray-800 */
  background-color: var(--color-background-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--color-background-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.9);
    background-color: var(--color-background-dark);
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}